.container{
    /* border: 5px solid rgb(111,41,97);  */
   /* border-radius: 0.5em; */
   padding: 20px;
   display: flex;
   flex-direction:column; 
   justify-content:space-evenly;
   height: 600px;
    background-image: linear-gradient(#e95420 ,#772953 ); 
}
#header{
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    /* width: 80px; */
    height: 60px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    color: #fff ; 
    
    
}
#main{
    border: 2px solid #fff;
    display: flex;
    flex-direction: row;
    height: 350px;
    
}
.container article{
    border: 2px solid #fff;
    display: flex;
    flex-direction:row;
    justify-content: center;
    height: 300px;
    padding: 20px;
    align-items: flex-start; 
    flex-wrap: wrap;
    color: #fff;
    width: 750px;
    
   
} 

.container aside{
    border: 2px solid #fff;
    display: flex;
    flex-direction: column; 
     height: 300px;
    padding: 20px;
    /* justify-content: flex-end;
    align-items:flex-start;  */
    text-align: center;
    flex-wrap: wrap;
    color: #fff;
    width: 100px;
    
}
#content{
    order: 1;
}

#tertiary{
    order: 3;
}
#footer{
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    /* width: 80px; */
    height: 60px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}